<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block headStylesheet %}
        <!-- Stylesheet Area Start -->
        <link href="{{ url_for('static', filename='css/modern.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/modern-responsive.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet" type="text/css" />
        {% block customStylesheet %}
        {% endblock customStylesheet %}
        <!-- Stylesheet Area End -->
        {% endblock headStylesheet %}
        {% block headScript %}
        <!-- Script Area Start -->
        {% set defaultJs = ['jquery-1.8.3.min', 'util'] %}
        {% for item in defaultJs %}
        <script src="{{ url_for('static', filename='js/%s.js' % item) }}" type="application/javascript"></script>
        {% endfor %}
        {% block customHeadScript %}
        {% endblock customHeadScript %}
        <!-- Script Area End -->
        {% endblock headScript %}
        <title>{% block title %}{% endblock title %}{% block subtitle %}{% endblock subtitle %}</title>
    </head>
    <body class="modern-ui">
        <div class="page">
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="pull-menu"></span>
                    <a href="/template/">
                        <span class="element brand"> 
                            <img class="place-left" src="/static/img/logo32.png" width=32 height=32 alt="Erika" />
                            Project Erika <small>{{ version }}</small>
                        </span>
                    </a>
                    <div class="divider"></div>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                    </ul>
                    {% if current_user.is_authenticated() %} 
                    {% set jsComponents = jsComponents + ['dropdown'] %}
                    <ul class="menu place-right">
                        <li data-role="dropdown">
                            <a href="#"><img src="{{current_user.profile['avatar_url']}}" width=32 height=32 />{{ current_user.profile['login'] }}</a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/profile">Profile</a></li>
                                <li><a href="/user/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="menu place-right">
                        <li><a href="#" id="navLogin">Login NOW</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="blank-line-15"></div>
        <div class="page secondary">
            {% block contents %}
            {% endblock contents %}
        {% block lazyLoadScriptArea %}
        <!-- Script Area Start -->
        {% block componentScript %}
            {% for item in dict().fromkeys(jsComponents).keys() %}
            <script src="{{ url_for('static', filename='js/%s.js' % item) }}" type="application/javascript"></script>
            {% endfor %}
        {% endblock componentScript %}
        <!-- Script Area End -->
        {% endblock lazyLoadScriptArea %}
    </body>
</html>
