{% extends "common/base.html" %}
{% set jsComponents = ['carousel', 'rating'] %}
{% set slideFeature = [{'title':'Sync your Configuration', 'backgrounColor':'green', 'content':'''You can sync own configuration files for editor(e.g. emacs, vim... e.t.c.) or shell.<i class="fg-color-white place-right icon-cloud" style="font-size: 42pt"></i><br /><br /><br />'''},{'title':'Share it', 'backgrounColor':'red', 'content':'''Share configuration with others'''}] %}
{% block customStylesheet %}
        <style type="text/css">
            #iconic-features:last-child {
                margin-bottom: 0;
            }
            #codesample {
                height:470px;
            }
            #codesample pre {
                border: none;
                background-color: transparent;
                padding: 0;
            }
            #codesample .description > h2 {
                margin: 0 0 5px 0;
            }
            #codesample .description > h2 > small {
                margin-left: 5px;
            }
            #codesample .slide > blockquote {
                overflow-y: scroll;
                height:375px;
            }
            #codesample .slide > .description {
                padding-left: 20px;
                height: 95px;
            }
        </style>
{% endblock customStylesheet %}
{% block customHeadScript %}
<script type="text/javascript">
$(function() {
    $('#navLogin').click(function() {
        if ($('#loginNowMsg').length != 0) return false;
        createReplyAlert($('#joinBlock > h2'), 'orange', {auth:'erika', text:'Login Here by GitHub'}, 'right', {x:40, y:30}).attr('id', 'loginNowMsg');
        return false;
    });
});
</script>
{% endblock customHeadScript %}
{% block title %}Project Erika{% endblock title %}
{% block contents %}
            <div class="grid">
                <div class="row">
                    <div class="span8">
                        <div class="hero-unit">
                            <h2>Project Erika</h2>
                            <div id="specSlide" class="carousel" data-role="carousel" data-param-duration="200">
                                <div class="slides">
                                    {% for item in slideFeature %}
                                    <div class="slide">
                                        <h2>{{ item['title']|safe }}</h2>
                                        <p class="bg-color-{{ item['backgrounColor']|e }} fg-color-white padding20">
                                            {{ item['content']|safe }}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div id="joinBlock" class="hero-unit text-center padding30">
                            <h2>LOGIN by<br /><i class="icon-github-3"></i>GitHub</h2>
                            {% if current_user.is_authenticated() %}
                            <!-- FIXTPL -->
                            <dl>
                                <dt>Nick</dt><dd>{{ current_user.name }}</dd>
                                <dt>Provider</dt><dd>{{ current_user.provider }}</dd>
                            </dl>
                            <a href="/user/logout">Logout</a>
                            {% else %}
                            <form action="/user/login/github" method="post">
                                <div class="input-control text">
                                    <input id="userid" type="text" name="userid" placeholder="ID" />
                                </div>
                                <div class="input-control text">
                                    <input type="password" name="passwd" placeholder="password" />
                                </div>
                                <div class="input-control text">
                                    <button class="action-only-button" type="submit">
                                        <h1><i class="icon-arrow-right-3 fg-color-green"></i></h1>
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="iconic-features" class="span4">
                        <div class="tile double">
                            {{ smallFeature1|safe }}
                        </div>
                        <div class="tile double">
                            {{ smallFeature2|safe }}
                        </div>
                        <div class="tile double">
                            {{ smallFeature3|safe }}
                        </div>
                    </div>
                    <div class="span8">
                        <div id="codesample" class="carousel" data-role="carousel" data-param-effect="slide" data-param-direction="right" data-param-duraion="300000" data-param-period="4000" data-param-stop="on" data-param-markers="off">
                            <div class="slides">
                                {% for item in sampleCode %}
                                <div class="slide">
                                    <blockquote>
                                        <pre>{{ item['code']|e }}</pre>
                                    </blockquote>
                                    <div class="description">
                                        <h2>{{ item['owner']|e }}<small>{{ item['type']|e }}</small></h2>
                                        <div class="rating" data-role="rating" data-param-rating="{{ item['rating']|e }}"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock contents %}

